.content-wrapper,.right-side {
	background-color: white;
}

.main-header .logo {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: bold;
  font-size: 25px;
  color:#1C2C5B; 

}


.popover-content {
color: white;
background-color:#1C2C5B;
font-size: 15px;
}


